<div class="orderlist">
    <% orders.map(order=>{%>
    <a href="/orders/<%-order.orderId%> ">
    <div class="list-item">
        <h3> Name: <%=order.name%> </h3>
        <h4>Address</h4>
        <p> <%=order.line1%> </p>
        <p> <%=order.line2%> </p>
        <p> <%=order.line3%> </p>
        <p> Ordered on: <strong><%=order.date%></strong> </p>
        <% if(!order.status){%> 
            <a href="<%=order.payment_link%>">Pay Now</a>
        <% } %> 

    </div>
</a>
    <%}) %>
    
</div>

<style>
    .orderlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .list-item {
        width: 300px;
        min-height: 200px;
        background-color: #eee;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Jost', sans-serif;
        border-radius: 10px;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: none;
    }
</style>